"*":
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".o"
    ]
    reopenProjectMenuCount: 14
    telemetryConsent: "no"
  editor:
    fontSize: 12
    tabType: "soft"
  "exception-reporting":
    userId: "a89edab9-879f-3b7f-ea36-130fdeb4cf41"
  linter:
    errorPanelHeight: 132
    showErrorInline: false
  "node-debugger":
    nodePath: "/usr/local/bin/node"
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1489857724
  welcome:
    showOnStartup: false
